<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>So sánh khuôn mặt</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Tải lên hai ảnh để so sánh khuôn mặt</h1>
        <form id="uploadForm" enctype="multipart/form-data">
            <label for="file1">Chọn ảnh đầu tiên:</label>
            <input type="file" id="file1" name="file1" accept="image/*" required><br>
            <div class="image-preview" id="preview1"></div>

            <label for="file2">Chọn ảnh thứ hai:</label>
            <input type="file" id="file2" name="file2" accept="image/*" required><br>
            <div class="image-preview" id="preview2"></div>

            <input type="submit" value="Gửi">
        </form>

        <div id="result-container">
            <h2>Kết quả trả về:</h2>
            <p id="result"></p>
        </div>
    </div>

    <!-- lấy logo nhỏ của trang web -->
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="/static/script.js"></script>
</body>
</html>
